[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:madler/zlib.git
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "vendor/msgpack-c"]
	path = vendor/msgpack-c
	url = git@github.com:msgpack/msgpack-c.git
